@model Comanda

<form asp-controller="Comanda" asp-action="Create" method="post">

    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Comanda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile"
                aria-selected="false">Itens</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row g-3" style="padding-top: 20px;">
                <div class="col-sm-6">
                    <label for="AtendenteId">Atendente</label>
                    <select asp-for="AtendenteId" class="form-control">
                        @foreach (var atendente in ViewBag.Atendentes)
                        {
                            <option value="@atendente.PessoaId">@atendente.Nome</option>
                        }
                    </select>
                </div>

                <div class="col-sm">
                    <label>Garçom</label>
                    <select asp-for="GarconId" class="form-control">
                        @foreach (var garcon in ViewBag.Garçon)
                        {
                            <option value="@garcon.PessoaId">@garcon.Nome</option>
                        }
                    </select>
                </div>

                <div class="col-sm-6">
                    <label>Emissão</label>
                    <input class="form-control" aria-label="Disabled input example" value=@ViewBag.Data disabled>
                </div>

                <div class="col-sm">
                    <label>Status</label>
                    <input asp-for="Status" class="form-control" />
                </div>

                <div class="col-sm-12">
                    <label>Observação</label>
                    <textarea asp-for="Observacao" class="form-control" rows="3"></textarea>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row g-3" style="padding-top: 20px;">


                <div class="col-sm-6">
                    <label>Produto</label>
                    <select class="form-control" id="produto-select">
                        @foreach (var produto in ViewBag.Produto)
                        {
                            <option data-id="@produto.ProdutoId" data-valor="@produto.Valor">@produto.Descricao</option>
                        }
                    </select>
                </div>

                <div class="col-sm">
                    <label>Quantidade</label>
                    <input class="form-control" id="qtd-select" />
                </div>

                <div class="col-sm" style="padding-top: 30px;">
                    <input type="button" value="Add" onclick="inserirLinhaTabela()" />
                </div>

                <table class="table table-hover" id="minhaTabela">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Qtd</th>
                            <th scope="col">Valor</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-sm-12" style="padding-top: 30px;">
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script language="javascript">

    function inserirLinhaTabela() {
        // Captura a referência da tabela com id “minhaTabela”
        var table = document.getElementById("minhaTabela");
        // Captura a quantidade de linhas já existentes na tabela
        var numOfRows = table.rows.length;
        // Captura a quantidade de colunas da última linha da tabela
        var numOfCols = table.rows[numOfRows - 1].cells.length;
        // Insere uma linha no fim da tabela.
        var newRow = table.insertRow(numOfRows);

        var produto = document.getElementById("produto-select");
        var qtd = document.getElementById("qtd-select");

        var produtoview = produto.value;
        var selected = produto.options[produto.selectedIndex];
        var valor = selected.getAttribute('data-valor');

        var valorFormat = parseFloat(valor.replace(',', '.'));
        var valortotal = qtd.value * valorFormat;

        // Faz um loop para criar as colunas
        for (var j = 0; j < numOfCols; j++) {
            // Insere uma coluna na nova linha 
            newCell = newRow.insertCell(j);
            // Insere um conteúdo na coluna
            if (newCell.cellIndex == 0) {
                newCell.innerHTML = '<td>' + (numOfRows - 1) + '</td>';
            }

            if (newCell.cellIndex == 1) {
                newCell.innerHTML = '<td>' + produtoview + '</td>';
            }

            if (newCell.cellIndex == 2) {
                newCell.innerHTML = '<td>' + qtd.value + '</td>';
            }

            if (newCell.cellIndex == 3) {
                newCell.innerHTML = '<td>' + valortotal + '</td>';
            }

            if (newCell.cellIndex == 4) {
                newCell.innerHTML = '<td><a class="btn btn-sm btn-danger" href="">Remover</a></td>';
            }
        }
    }
</script>