@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using System.Text.Json
@model List<PessoaAtendente>

<br />
@if (Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{

    string json = HttpContextAccessor.HttpContext.Session.GetString("user");

    if (json != null)
    {
        PessoaAtendente user = JsonSerializer.Deserialize<PessoaAtendente>(json);

        if (user != null)
        {
            if (user.Admin == "TRUE")
            {
                <div class="container-xl px-4 mt-4">
    <div class="card mb-4">
        <div class="card-header">Atendentes</div>
        <div class="card-body p-0">
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">Id</th>
                            <th class="border-gray-200" scope="col">Nome</th>
                            <th class="border-gray-200" scope="col">CPF</th>
                            <th class="border-gray-200" scope="col">Telefone</th>
                            <th class="border-gray-200" scope="col">Login</th>
                            <th class="border-gray-200" scope="col">Salario</th>
                            <th class="border-gray-200" scope="col">Administrador</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var atendente in Model)
                                        {
                                            <tr>
                                                <td>@atendente.PessoaId</td>
                                                <td>@atendente.Nome</td>
                                                <td>@atendente.CPF</td>
                                                <td>@atendente.Telefone</td>
                                                <td>@atendente.Login</td>
                                                <td>@atendente.Salario</td>
                                                <td>@atendente.Admin</td>
                                                <td>
                                                    <a class="btn btn-sm btn-danger"
                                    href="/pessoaatendente/delete/@atendente.PessoaId">Apagar</a>
                                                    <a class="btn btn-sm btn-warning"
                                    href="/pessoaatendente/update/@atendente.PessoaId">Editar</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" href="/pessoaatendente/create">Adicionar</a>
            }
            else
            {
                <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="~/images/user.png" class="img-radius"
                                        alt="User-Profile-Image"></div>
                                <h6 class="f-w-600">
                                    @user.Nome
                                </h6>
                                <p>Atendente</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Principal</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">CPF</p>
                                        <h6 class="text-muted f-w-400">@user.CPF</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Telefone</p>
                                        <h6 class="text-muted f-w-400">@user.Telefone</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Salário</p>
                                        <h6 class="text-muted f-w-400">@user.Salario</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Login</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Login</p>
                                        <h6 class="text-muted f-w-400">@user.Login</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Senha</p>
                                        <h6 class="text-muted f-w-400">@user.Senha</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Administrador</p>
                                        <h6 class="text-muted f-w-400">@user.Admin</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            }
        }
    }
}
