@model List<Produto>

<br />
@if (Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Estoque</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    @foreach (var produto in Model)
        {
            <tbody>
                <tr>
                    <td>@produto.ProdutoId</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.QtdEstoque</td>
                    <td>@produto.Valor</td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="/produto/delete/@produto.ProdutoId">Apagar</a>
                        <a class="btn btn-sm btn-warning" href="/produto/update">Editar</a>
                    </td>

                </tr>
            </tbody>
        }
    </table>
}
<a class="btn btn-primary" href="/produto/create">Adicionar</a>
