@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using System.Text.Json
@model List<Produto>

<br />
@if (Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    string json = HttpContextAccessor.HttpContext.Session.GetString("user");

    if (json != null)
    {
        PessoaAtendente user = JsonSerializer.Deserialize<PessoaAtendente>(json);

        if (user != null)
        {
            if (user.Admin == "TRUE")
            {
                <div class="container-xl px-4 mt-4">
    <div class="card mb-4">
        <div class="card-header">Produtos</div>
        <div class="card-body p-0">
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">Id</th>
                            <th class="border-gray-200" scope="col">Descrição</th>
                            <th class="border-gray-200" scope="col">Estoque</th>
                            <th class="border-gray-200" scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var produto in Model)
        {
            <tbody>
                <tr>
                    <td>@produto.ProdutoId</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.QtdEstoque</td>
                    <td>@produto.Valor</td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="/produto/delete/@produto.ProdutoId">Apagar</a>
                        <a class="btn btn-sm btn-warning" href="/produto/update/@produto.ProdutoId">Editar</a>
                    </td>
                </tr>
            </tbody>
        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/produto/create">Adicionar</a>
            }
else {
    <div class="container-xl px-4 mt-4">
    <div class="card mb-4">
        <div class="card-header">Produtos</div>
        <div class="card-body p-0">
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">Id</th>
                            <th class="border-gray-200" scope="col">Descrição</th>
                            <th class="border-gray-200" scope="col">Estoque</th>
                            <th class="border-gray-200" scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var produto in Model)
        {
            <tbody>
                <tr>
                    <td>@produto.ProdutoId</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.QtdEstoque</td>
                    <td>@produto.Valor</td>
                </tr>
            </tbody>
        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

            }
        }
    }

    
