@model List<PessoaGarcon>

<br />
@if (Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Salario</th>
            <th scope="col">Comissão</th>
            <th scope="col">Regime Trab.</th>
            <th scope="col">Ativo</th>
        </tr>
    </thead>
    @foreach (var garcon in Model)
        {
            <tbody>
                <tr>
                    <td>@garcon.PessoaId</td>
                    <td>@garcon.Nome</td>
                    <td>@garcon.CPF</td>
                    <td>@garcon.Telefone</td>
                    <td>@garcon.Salario</td>
                    <td>@garcon.Comissao/td>
                    <td>@garcon.RegimeTrab/td>
                    <td>@garcon.Ativo</td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="/pessoagarcon/delete/@garcon.PessoaId">Apagar</a>
                        <a class="btn btn-sm btn-warning" href="/pessoagarcon/update/@garcon.PessoaId">Editar</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}
<a class="btn btn-primary" href="/pessoagarcon/create">Adicionar</a>
